/* Posts */
.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.post__link {
  font-size: 1.5rem;
  font-weight: 700;
}

.post__metadata {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.post__tags {
  display: flex;
  gap: 0.5rem;
}

.post__tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 0 0.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.04rem;
  color: var(--text-secondary);
  border: 1px solid var(--gray-100);
  border-radius: 0.25rem;
  text-decoration: none;
}

.post__tag--TypeScript {
  background-color: rgb(48, 120, 198);
  color: var(--white);
  border: 1px solid var(--black);
}

a[href].post__tag:hover,
a[href].post__tag:focus {
  filter: brightness(130%);
}

/* Direct Links / Markdown Headers */
.post__direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
}

a[href].post__direct-link,
a[href].post__direct-link:visited {
  color: transparent;
}

a[href].post__direct-link:focus,
a[href].post__direct-link:focus:visited,
:hover > a[href].post__direct-link,
:hover > a[href].post__direct-link:visited {
  color: var(--gray-100);
}

.template--post ul,
.template--post ol {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

.callout {
  color: var(--black);
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: var(--default-margin);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.callout p {
  margin-bottom: 0.5rem;
}

.callout ul {
  margin-left: 2rem;
  margin-bottom: 0rem;
}

.callout--success {
  background-color: rgb(241, 253, 249);
  border-left: 4px solid rgb(0, 191, 136);
}

.callout--info {
  background-color: #eef9fd;
  border-left: 4px solid#4cb3d4;
}

/** CODE AND CODE HIGHLIGHTING */

pre,
code {
  font-family: Consolas, Menlo, Monaco, Courier, monospace;
  line-height: var(--line-height);
  border-radius: 0.5rem;
}

code {
  word-break: break-all;
}

pre {
  line-height: var(--line-height);
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code:not([class*="language-"]) {
  color: var(--black);
  font-size: 1rem;
  padding: 0.1rem 0.2rem;
  border-radius: 0.25rem;
  background-color: var(--gray-light);
}

pre[class*="language-"] {
  font-size: 0.875rem;
  margin-bottom: var(--default-margin);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.highlight-line {
  display: block;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}

/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: var(--gray-100);
  background-color: var(--text-secondary);
}

.highlight-line-active {
  background-color: var(--blue);
}

.highlight-line-add {
  background-color: var(--green);
}

.highlight-line-remove {
  background-color: var(--red);
}

.token.comment {
  color: var(--gray-200);
}
