---
layout: layouts/home.njk
eleventyNavigation:
  key: Projects
  order: 1
---

<h1>Projects</h1>

<div style="margin-bottom: 2rem;">
<h2>Intl Explorer</h2>
<p>
<a href="https://intl-explorer.com">Intl Explorer</a> is an interactive tool for experimenting and trying out the ECMAScript Internationalization API. Built with SvelteKit.</p>
<a href="https://intl-explorer.com"><img src="{{ '/img/intl-explorer.png' | url }}" alt="Screenshot of Intl Explorer Website" /></a>
</div>

<div>
<h2>Sthlm-Uppsala Commuter App</h2>
<p>
<a href="https://sthlm-uppsala.vercel.app">Sthlm-Uppsala</a> is a commuter PWA for people commuting between Uppsala and Stockholm. Built with Svelte.</p>
<div style="display: flex; justify-content: center; align-items: center; margin-bottom: 1rem">
<a href="https://sthlm-uppsala.vercel.app"><img src="{{ '/img/sthlm-uppsala.png' | url }}" alt="Screenshot of Sthlm-Uppsala Website" style="max-height: 500px;" /></a>
</div>
</div>

