.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.post__link {
  font-size: 1.5rem;
  font-weight: 700;
}

.post__metadata {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

@media screen and (min-width: 35rem) {
  .post__metadata {
    flex-direction: row;
  }
}

.post__tags {
  display: flex;
  gap: 0.5rem;
}

.post__tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 0 0.25rem;
  font-size: 0.875rem;
  letter-spacing: 0.04rem;
  color: var(--text-secondary);
  border: 1px solid var(--gray-100);
  border-radius: 0.25rem;
  text-decoration: none;
}

.post__tag--TypeScript {
  background-color: rgb(48, 120, 198);
  color: var(--white);
  border: 1px solid var(--black);
}

.post__tag--JavaScript {
  background-color: rgb(232, 215, 59);
  color: var(--black);
  border: 1px solid var(--black);
}

.post__tag--Svelte {
  background-color: rgb(214, 62, 8);
  color: var(--white);
  border: 1px solid var(--black);
}

a[href].post__tag:hover,
a[href].post__tag:focus {
  filter: brightness(130%);
}

/* Direct Links / Markdown Headers */
.post__direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
}

a[href].post__direct-link,
a[href].post__direct-link:visited {
  color: transparent;
}

a[href].post__direct-link:focus,
a[href].post__direct-link:focus:visited,
:hover > a[href].post__direct-link,
:hover > a[href].post__direct-link:visited {
  color: var(--gray-100);
}
