---
layout: base
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 2
---

{% set css %} {% include "css/posts.css" %} {% endset %}
<style>
	{{ css | cssmin | safe }}
</style>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
