---
layout: base
permalink: /
eleventyNavigation:
  key: Home
  order: 1
---

<h1> Hello, I'm Jesper <span role="img" aria-label="Emoji hand waving">👋</span></h1>

<p>You can reach out to me at <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jesper-orb/">LinkedIn</a>
or browse all my code at <a target="_blank" rel="noopener noreferrer" href="https://github.com/jesperorb">GitHub</a>.</p>
<p>Feel free to read my <a href="{{ '/posts' | url }}">posts</a> or check out my <a href="{{ '/projects' | url }}">projects</a>.</p>
