---
layout: base
permalink: /
eleventyNavigation:
  key: Home
  order: 1
---

<h1> Hello, I'm Jesper <span role="img" aria-label="Emoji hand waving">👋</span></h1>

<p> I create way too advanced websites for a living. For the most part that means writing software using <strong>React</strong> and <strong>TypeScript</strong>. I call myself a <strong><em>Front End Developer</em></strong>.</p>

<p>You can reach out to me at <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jesper-orb/">LinkedIn</a>
or browse all my code at <a target="_blank" rel="noopener noreferrer" href="https://github.com/jesperorb">GitHub</a>.</p>
<p>Feel free to read my <a href="{{ '/posts' | url }}"><strong>thoughts</strong></a> or check out my <a href="{{ '/projects' | url }}"><strong>projects</strong></a>.</p>
