---
layout: base
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 1
---

{% set css %} {% include "css/projects.css" %} {% endset %}
<style>
	{{ css | cssmin | safe }}
</style>

<h1>Projects</h1>

<div class="project">
<h2>Intl Explorer</h2>
<p>
<a href="https://intl-explorer.com">Intl Explorer</a> is an interactive tool for experimenting and trying out the ECMAScript Internationalization API. Built with SvelteKit and TypeScript.</p>
<a href="https://intl-explorer.com"><img src="{{ '/img/intl-explorer.png' | url }}" alt="Screenshot of Intl Explorer Website" /></a>
</div>
</div>

<div class="project">
<h2>tsdoc-test-reporter</h2>
<p>
<a href="https://github.com/tsdoc-test-reporter">tsdoc-test-reporter</a> is a HTML test reporter for Jest and Vitest that enables you to attach metadata to your test results.
The metadata is added in the for of JSDoc-comments on your tests. Built with TypeScript.</p>
<a href="https://github.com/tsdoc-test-reporter"><img src="{{ '/img/test-reporter.png' | url }}" alt="Screenshot of the output of the test reporter" /></a>
</div>
</div>

<div class="project">
<div>
<h2>Sthlm-Uppsala Commuter App</h2>
<p>
<a href="https://sthlm-uppsala.vercel.app">Sthlm-Uppsala</a> is a commuter PWA for people commuting between Uppsala and Stockholm. Built with Svelte and TypeScript.</p>
</div>
<div class="project">

