<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="icon" href="{{ '/img/favicon.png' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    {% set css %} {% include "css/index.css" %} {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    <script defer src="https://umami-xi-eosin.vercel.app/script.js" data-website-id="08216b93-93e9-418f-a784-863e2c3a358e"></script>
  </head>
  <body>
    <header>
      <h1 class="header-navigation__home-link"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
        <ul class="header-navigation">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="header-navigation__item{% if entry.url == page.url %} header-navigation__item--active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
        {%- endfor %}
        </ul>
    </header>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
    <footer>
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/jesperorb">GitHub</a>
      <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jesper-orb/">LinkedIn</a>
    </footer>
    <script>
      window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', e => {
        const newColorScheme = e.matches ? "dark" : "light";
        document.body.classList.add(newColorScheme);
      });
      console.group("%c Try clicking the cards in the resume for another easter egg. While you are here traveler, do you need something? ", "font-size:1.25rem;color");
      console.table([
        { item: "Easter Egg", cost: 0 },
        { item: "Fix your router", cost: -Infinity },
        { item: "Configure your .eslintrc", cost: "10 000 000 SEK/hour" },
        { item: "My strongest potion", cost: "Not for sale" },
        { item: "Magical frog", cost: "Free to a good home" },
      ])
      console.groupEnd()
    </script>
  </body>
</html>
